html,
body {
    --bg-color: rgb(30, 30, 30);
    --btn-color: rgb(250, 25, 25);
    --btn-inset: rgb(20, 20, 20);
    --bg-inset: rgb(20, 20, 20);
    --text-color: rgb(200, 200, 200);
    --div-info-bg-color: rgba(0, 150, 255, 0.2);
    --border-color: rgb(100, 100, 100);

    background-color: var(--bg-color);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: var(--text-color);
}

h1 {
    text-align: center;
}

.btn {
    text-decoration: none;
    text-align: center;

    background-color: var(--btn-color);
    color: var(--text-color);
    border-radius: 8px;
    border: 0;
}

a.btn {
    display: block;
    margin: auto;
    margin-bottom: 10px;

    padding: 10px;
    width: 50%;
}

.div-form {
    width: min(40%, 400px);
}

.div-center-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

input,
label {
    display: block;
    color: var(--text-color);
    margin-left: 15px;
    width: 100%;
}

input {
    margin: 5px 15px 15px 15px;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    padding: 5px;
    font-size: 1em;

    background-color: var(--btn-inset)
}

form > .info {
    background-color: var(--div-info-bg-color);
    padding: 6px 12px;
    border: 1px solid rgb(0, 200, 255);
    border-radius: 8px;
    margin: 15px;
}

.warn {
    margin: auto;
    text-align: center;
    background-color: rgba(255, 0, 0, 0.25);
    border: 1px solid rgb(255, 0, 0);
    border-radius: 8px;
    width: 60%;
    padding: 5px;
    margin-bottom: 16px;
}

input.btn {
    width: 50%;
}

/* Links inside p tags */
p > a {
    color: var(--btn-color);
}

footer {
    margin: auto;
    margin-bottom: 10px;
}

.gr-hidden {
    display: none;
}