html,
body {
    --c-neutral-9: hsl(0, 0%, 88%);
    --c-neutral-8: hsl(0, 0%, 75%);
    --c-neutral-7: hsl(0, 0%, 63%);
    --c-neutral-6: hsl(0, 0%, 50%);
    --c-neutral-base: hsl(0, 0%, 25%);
    --c-neutral-4: hsl(0, 0%, 19%);
    --c-neutral-3: hsl(0, 0%, 13%);
    --c-neutral-2: hsl(0, 0%, 6%);
    --c-neutral-1: hsl(0, 0%, 3%);

    --c-primary-2: hsl(0, 100%, 19%);
    --c-primary-base: hsl(0, 100%, 38%);
    --c-primary-4: hsl(0, 50%, 50%);
    --c-primary-5: hsl(0, 34%, 63%);

    /* better colors may be available */
    --c-compl-1-2: hsl(10, 50%, 15%);
    --c-compl-1-3: hsl(14, 75%, 33%);
    --c-compl-1-4: hsl(17, 90%, 50%);
    --c-compl-1-base: hsl(22, 100%, 64%);

    --c-compl-2-2: hsl(215, 33%, 15%);
    --c-compl-2-3: hsl(207, 45%, 33%);
    --c-compl-2-4: hsl(200, 55%, 50%);
    --c-compl-2-base: hsl(200, 65%, 65%);

    --c-compl-3-2: hsl(92, 25%, 12%);
    --c-compl-3-3: hsl(80, 25%, 20%);
    --c-compl-3-4: hsl(74, 30%, 33%);
    --c-compl-3-base: hsl(74, 32%, 41%);
    --c-compl-3-6: hsl(74, 39%, 51%);
    --c-compl-3-7: hsl(77, 45%, 65%);
    --c-compl-3-8: hsl(80, 59%, 85%);

    background-color: var(--c-neutral-3);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--c-neutral-9);

    margin: 0;
}

h1 {
    text-align: center;
}

h2 {
    margin: 0;
}

.btn {
    text-decoration: none;
    text-align: center;

    color: var(--c-neutral-9);
    border-radius: 8px;
    border: 0;
}

.div-form {
    width: min(40%, 400px);
}

.flex {
    display: flex;
}

/* The topbar at index */
.flex-to-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: sticky;
    top: 0;

    background-color: var(--c-neutral-2);
    height: 64px;
    padding: 0 48px;
    gap: 16px;
    z-index: 1;
}

.disable-sticky-topbar {
    position: absolute;

    /* hack to make topbar contained in viewport */
    width: calc(100% - 48px);
    padding: 0 0 0 48px;
}

.center-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

input,
label {
    display: block;
    color: var(--c-neutral-9);
}

.form-row {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 8px;
}

.form-row label {
    margin-bottom: 8px;
}

.alert-warning {
    background-color: var(--c-compl-1-2);
    border: 1px solid var(--c-compl-1-base);
    padding: 8px;
    border-radius: 8px;
}

.alert-info {
    background-color: var(--c-compl-2-2);
    border: 1px solid var(--c-compl-2-base);
    padding: 8px;
    border-radius: 8px;
}

.text-center {
    text-align: center;
}

/* Links inside p tags */
p > a {
    color: var(--c-primary-base);
}

footer {
    margin: auto;
    margin-bottom: 10px;
}

.gr-hidden {
    display: none;
}

.flex-list-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 48px;
}

.flex-list-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.btn-primary {
    text-decoration: none;
    text-align: center;
    font-weight: 700;

    background-color: var(--c-primary-base);
    color: var(--c-neutral-9);
    border-radius: 8px;

    border-top: 1px solid var(--c-primary-5);
    border-left: 0;
    border-right: 0;
    border-bottom: 4px solid var(--c-primary-2);
}

.btn-primary:hover {
    transition: background-color 0.2s;
    margin-top: 0px
}

.btn-primary:active {
    border-bottom: 2px solid var(--c-primary-2);
    background-color: var(--c-primary-4);
    transform: translateY(2px);
    margin: 1px 0
}

.btn-primary:disabled {
    background-color: var(--c-neutral-6);
    border-top: 1px solid var(--c-neutral-7);
    border-bottom: 4px solid var(--c-neutral-4);
}

.btn-primary:disabled:active {
    border-bottom: 2px solid var(--c-neutral-4);
    transform: translateY(2px);
    margin: 1px 0
}

.btn-secondary {
    background-color: var(--c-neutral-2);

    border-top: 1px solid var(--c-neutral-base);
    border-bottom: 1px solid var(--c-neutral-4);
    border-left: 1px solid var(--c-neutral-4);
    border-right: 1px solid var(--c-neutral-4);
}

.btn-secondary:hover {
    background-color: var(--c-neutral-3);
    transition: background-color 0.2s;
}

.btn-secondary:active {
    background-color: var(--c-neutral-4);
}

.btn-tertiary {
    background-color: transparent;
}

.btn-tertiary:hover {
    transition: background-color 0.2s;
    background-color: var(--c-neutral-base);
}

.btn-tertiary:active {
    transition: background-color 0.2s;
    background-color: var(--c-neutral-6);
}

.btn-large {
    padding: 16px 24px;
    font-size: 24px;
    font-weight: 700;
}

.btn-medium {
    padding: 12px 16px;
    font-size: 16px;
    font-weight: 600;
}

.btn-small {
    padding: 8px;
}

.input-primary {
    background-color: var(--c-neutral-2);
    border-top: 1px solid var(--c-neutral-base);
    border-left: 1px solid var(--c-neutral-4);
    border-right: 1px solid var(--c-neutral-4);
    border-bottom: 1px solid var(--c-neutral-4);
    border-radius: 8px;

    padding: 8px;
    font-size: 16px;

    box-shadow: 0px 2px 4px var(--c-neutral-1), 0 2px 16px var(--c-neutral-2);
}

.input-secondary {
    border-radius: 4px;
    border: 0;
    padding: 8px;
    font-size: 16px;

    background-color: var(--c-neutral-2)
}

.input-tertiary {
    border: 0;

    transition: background-color 0.2s;
    background-color: transparent;
}

.input-tertiary:focus {
    transition: background-color 0.2s;
    background-color: var(--c-neutral-2)
}

/* How important text is. The less important = darker */
.text-lightest {
    color: var(--c-neutral-9);
}

.text-light {
    color: var(--c-neutral-8);
}

.text-c-base {
    color: var(--c-neutral-7);
}

.text-dark {
    color: var(--c-neutral-6);
}

.text-darkest {
    color: var(--c-neutral-base);
}

.text-inline {
    display: inline;
}

/* Size of text */
.text-medium {
    font-size: 16px;
}

.svg-light {
    fill: var(--c-neutral-8);
}

.svg-c-base {
    fill: var(--c-neutral-7);
}

.svg-dark {
    fill: var(--c-neutral-6);
}

.svg-darker {
    fill: var(--c-neutral-base);
}


.div-secondary {
    background-color: var(--c-neutral-3);
    box-shadow: 0 16px 32px var(--c-neutral-1);

    padding: 48px 128px;
    border-radius: 16px;
}

.occupy-width {
    width: 100%;
}

/* Takes up the entire view */
.screenview {
    width: 100%;
    height: 100%;
}

.separator-light {
    width: 100%;
    height: 2px;

    background-color: var(--c-neutral-4);
}